body {
  background: linear-gradient(-45deg, #527cee, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 50px;
  text-rendering: optimizeLegibility;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-thumb {
  background: #fbd304 ;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(208, 229, 252);
}

body::-webkit-scrollbar-button {
  display: block;
  background-color: #045cbc;
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
}

body::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

body::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

body::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

body::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}

.fondo {
  background-image: url("https://giffiles.alphacoders.com/121/12163.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
  width:10em;
}

@keyframes rotation 
{from { transform: rotate(0deg); } to { transform: rotate(359deg); }}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transiton: .2s all linear;
}
a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
h1, h2, p {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
h1 {
  font: bold 70px "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
  color: #fff;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  transition: .2s all linear;
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
h1:hover {
  cursor: text;
}
h1:focus {
  outline: none;
}
p {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
h2 {
  margin: 30px 0 15px;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
}
pre {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  width: 96%;
  margin: auto;
  padding: 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: left;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-line;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
}
.influads_block {
  margin: 0 auto 20px;
  width: 180px;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}
.influads_img {
  height: 90px;
  margin-bottom: 11px;
  margin-left: auto;
  margin-right: auto;
}
.influads_text {
  margin-bottom: 5px;
}
.influads_text_a, .influads_powered_link {
  font-weight: normal;
}

.theme-footer {
  position: relative;
  background-color: #000000;
}
.theme-footer::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right,
  #fd004c,
  #fe9000,
  #fff020,
  #3edf4b,
  #3363ff,
  #b102b7,
  #fd004c
  );
  animation: rainbow-move 6s infinite linear alternate;
}
@keyframes rainbow-move {
  100% {
    background-position-x: 4000px;
  }
}

.area {
  text-align: center;
  font-size: 3em;
  color: #84f800;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #84f800, 0px 0px 7px #84f800;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #00fd15,
      0px 0px 10px #00fd15, 
      0px 0px 25px #00fd15,
      0px 0px 25px #00fd15,
      0px 0px 25px #00fd15,
      0px 0px 25px #00fd15,
      0px 0px 25px #00fd15,
      0px 0px 25px #00fd15,
      0px 0px 50px #00fd15,
      0px 0px 50px #00fd15,
      0px 0px 50px #33da00,
      0px 0px 150px #33da00,
      0px 10px 100px #33da00,
      0px 10px 100px #33da00,
      0px 10px 100px #33da00,
      0px 10px 100px #33da00,
      0px -10px 100px #33da00,
      0px -10px 100px #33da00;
  }
}
